body {
  background-color: var(--main-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  max-width: 1524px;
  margin: auto;
}

.flex {
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: column; */
}

:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --main-color: #fde7e170;
  --primary-color: #b7d7d4;
  --secondary-color: rgba(0, 174, 255, 0.822);
  --pane-padding: 5px 42px;
}